<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Trần Lê Vi Handshop</title>
<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<script th:src="@{js/jquery.min.js}"></script>
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
</script>
<!-- start menu -->
<link th:href="@{css/memenu.css}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" th:src="@{js/memenu.js}"></script>
<script>
	$(document).ready(function() {
		$(".memenu").memenu();
	});
</script>
<script th:src="@{js/simpleCart.min.js}">
	
</script>
<!-- slide -->
<script th:src="@{js/responsiveslides.min.js}"></script>
<script>
	$(function() {
		$("#slider").responsiveSlides({
			auto : true,
			speed : 500,
			namespace : "callbacks",
			pager : true,
		});
	});
</script>
<style type="text/css">
.col-md-3.col-md2 {
	padding-bottom: 3%;
}

.img-responsive {
	height: 340px;
}
</style>
</head>
<body>
	<!--header-->
	<!-- banner -->
	<!-- banner <%@include file="banner.jsp"%>-->
	<!--content-->
	<div class="content">
		<div class="container">
			<div class="content-top">
				<div class="content-top1">

					<h2 style="color: red; margin-left: 35%">Không tìm thấy sản
						phẩm</h2>
					<div class="col-md-3 col-md2">
						<div class="col-md1 simpleCart_shelfItem">
							<a href="single.jsp"> <img class="img-responsive"
								src="<%=product.getImage()%>" />
							</a>
							<h3>
								<a href="single.html"></a>
							</h3>
							<div class="price">
								<h5 class="item_price">đ
								</h5>
								<a href="#" class="item_add">Thêm vào giỏ</a>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--//content-->
	<!--footer-->
	<!--//footer-->
</body>
</html>